{% include "header.html" %}
<body>
  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">Contact us</h1>
          </div>
        </div>

        <div class="row gy-4">

          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item info-item-borders">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div><!-- End Info Item -->

        </div>


        <!-- Contact form -->
        <br><br><br><br>
        {% if submitted %}
      <script>swal({
            title: "success!",
            text: "Form Submitted Successfully!",
            icon: "success",
            button: "Okay!",
          });</script>
        {% endif %}
        <div class="container">
          <div class="row align-items-stretch justify-content-center no-gutters">
            <div class="col-md-7"><div class="shadow-lg p-3 mb-5 bg-white rounded">
              <div class="form h-100 contact-wrap p-5">
                <h3 class="text-center">Let's Talk</h3>
                <form class="mb-5" name="contact" action="{% url 'contact' %}" method="POST" id="contactForm" name="contactForm">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6 form-group mb-3">
                      <label for="" class="col-form-label">Name *</label>
                      <input type="text" class="form-control" required name="name" id="name" placeholder="Your name">
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label for="" class="col-form-label">Email *</label>
                      <input type="email" class="form-control" required name="email" id="email"  placeholder="Your email">
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="budget" class="col-form-label">Subject</label>
                      <input type="text" class="form-control" required name="subject" id="subject" placeholder="Your subject">
                    </div>
                  </div>
    
                  <div class="row mb-5">
                    <div class="col-md-12 form-group mb-3">
                      <label for="message" class="col-form-label">Message *</label>
                      <textarea class="form-control" name="message" required id="message" cols="30" rows="4"  placeholder="Write your message"></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-5 form-group text-center">
                      <input type="submit" value="Send Message" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                      <span class="submitting"></span>
                    </div>
                  </div>
                </form>
             
                {% comment %} <div id="form-message-warning mt-4"></div> 
                <div id="form-message-success">
                  Your message was sent, thank you!
                </div> {% endcomment %}
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

  </main><!-- End #main -->
  {% include "footer.html" %}